@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3rem;
color: black;
font-weight: bolder;

font-family: Helvetica;
}

h2 {
  font-size: 1.5rem;

font-weight: bold;
}